/*Universals*/
.black-bkg {
  background-color: #000;
}

.black-text {
  color: #000;
}

/*Navbar*/
.navbar-inverse {
  background-color: transparent;
  border: none;
}

.name {
  font-size: 2em;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  background-color: #000;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  background-color: #000;
}

.navbar-right{
  background-color: #000;
}

@media screen and (max-width: 767px) and (min-width: 397px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        background-color: transparent;
    }
}
/*Background Styles*/
.web-bkg {
  height: 550px;
  background-size: cover;
  background-position: center;
}

/*About Styles*/
.about-title-hr {
  height: 5px;
  width: 100%;
  background-color: #000;
  
}

#css-icon {
  color: #2077ff;
}

#html-icon {
  color: #e54d27;
}

.edu-hr {
  height: 2px;
  width: 20%;
  background-color: #000;

/*Work Styles*/

#work-title-hr {
  height: 5px;
  width: 12em;
  background-color: #000;
}

.wakeskate-caption {
  font-size: 1em;
  font-style: italic;
}

.slide-video-website {
  align-items: center;
}

/*Contact Styles*/
.contact-title-hr {
  height: 5px;
  width: 12em;
  background-color: #000;
}

.contact-box {
  height: 150px;
}

#Social-Media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#linkedin {
  background-color: #0077b5;
}

#facebook {
  background-color: #3b5997;
}

#github {
  background-color: #52287a;
}

bkg-img {
  height: 80vh;
width: 100%;
}
