.bkg-img {
  background-image: url("Willow-station.jpg");
  background-size: cover;
  background-position: center;
}

/*Navbar*/
.navbar-inverse {
  background-color: transparent;
  border: none;
}
/*Header Styles*/
.title {
  text-align: center;
  color: #fff;
}

.item1 {
  background-color: #000;
  height: 200px;
}
/*Main Section Styles*/
.main-sect-bkg {
  height: 300px;
}
.logo1 {
  background-color: transparent;
}

/*Carousel Styles*/
.item {
  height: 550px;
  background-size: cover;
  background-position: center;
}

#first-bg {
  background-image: url('../img/Willow-station.jpg');
}

#carousel-logo {
  height: 200px;
}

.flex-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

#second-bg {
  background-image: url('../img/computer-bkg.jpg');
}

.btn-warning {
  background-color: #f8512f;
  border: none;
}

.btn-warning:hover {
  background-color: #d34326;
}

.carousel-caption {
  padding-bottom: 10em;
}

#third-bg {
  background-image: url('../img/farm-2.jpg');
}
