/*Navbar*/
.navbar-inverse {
  background-color: transparent;
  border: none;
}

.name {
  font-size: 2em;
}
/*Background Styles*/
.web-bkg {
  height: 550px;
  background-size: cover;
  background-position: center;
}
